/* CSS declarations go here */

/* font declaration for couture font*/
@font-face {
  font-family: 'couture';
  src: url('/fonts/couture-bld.otf');
  font-weight: normal;
  font-style: normal;
  font-size:12px;

}
/* font declaration for chunkfont*/
@font-face {
  font-family: 'chunk';
  src: url('/fonts/Chunkfive.otf');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  text-align: center;
  font-size: 12px;
  color: black;
  font-family: 'Prata', serif;
  letter-spacing: 2px;
  opacity: 0.8;
}
@font-face {
  font-size: 14px;
  font-family: "Lora", serif;
  src: url('https://fonts.googleapis.com/css?family=Lora:400italic');
  text-align: center;
  letter-spacing: 1px;
  opacity: 0.8;
}
/*
html * {
    font-family: 'couture' !important;
}
*/
.navbar {
    border: none !important;
    border-radius: 0 !important;

}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;

}

.navbar .navbar-collapse {
  text-align: center;
}

.shop-spero-text {
	margin-top: 60px;
	text-align: center;
}

a.home-button {
	text-decoration: none; 
	color: black;
}

img#home_cover {
	max-width: 100% !important;
	height: auto !important;
}

