/* CSS declarations go here */


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.shop-spero-text {
	margin-top: 60px;
	text-align: center;
}
a.home-button {
	text-decoration: none; 
	color: black;
}
