div.background-img {
    background-image: url('http://res.cloudinary.com/shop-spero/image/upload/v1455688894/misc/home_cover.jpg');
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
}